body{

}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    height: 72px;
    background-color: beige;
}
.nav_items{
    display: flex;
    /* justify-content: space-between; */
    gap: 24px;
    list-style: none;
}